<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
        
  <appender name="ConsoleAppender" class="org.apache.log4j.ConsoleAppender">
    <layout class="org.apache.log4j.SimpleLayout"/>
  </appender>
  
  <!--  Log para las conexiones de base de datos -->
  <appender name="FILE_DB" class="org.apache.log4j.FileAppender">
		<param name="file"   value="${jboss.server.home.dir}/log/ele_db.logj" />
		<param name="Append" value="true" />
		<layout class="org.apache.log4j.PatternLayout">
		<param name="ConversionPattern" value="%d %-5p [%c2] - %m%n"/>
		</layout>	    
  </appender>
  
  <!-- Log para la aplicacion -->
  <appender name="FILE_APP" class="org.apache.log4j.FileAppender">
		<param name="file"   value="${jboss.server.home.dir}/log/ele_app.logj" />
		<layout class="org.apache.log4j.PatternLayout">
		<param name="ConversionPattern" value="%d %-5p [%c2] - %m%n"/>
		</layout>	    
  </appender>
  
  <category name="com.icesoft">
  	<priority value="warn" />
    <appender-ref ref="FILE_APP"/>
  </category>
  
 <category name="org.hibernate">
  	<priority value="warn"/>
    <appender-ref ref="FILE_DB"/>  
  </category>
  
  <category name="org.hibernate.connection">
  	<priority value="warn"/>
    <appender-ref ref="FILE_DB"/>
  </category>
  
  <category name="org.hibernate.jdbc">
  	<priority value="warn"/>
    <appender-ref ref="FILE_DB"/>
  </category>
  
  <category name="org.jbpm">
  	<priority value="warn"/>
    <appender-ref ref="FILE_APP"/>
  </category>

  <category name="org.apache.tomcat.dbcp">
  	<priority value="warn"/>
    <appender-ref ref="FILE_APP"/>
  </category>
  
    <category name="com.mchange.v2.c3p0">
  	<priority value="warn"/>
    <appender-ref ref="FILE_APP"/>
  </category>
  
  
  <root>
   <priority value ="WARN" />
   <!-- 	
     <priority value="off"/>
     <priority value ="debug" />
    <priority value ="fatal" />
    -->
    <appender-ref ref="ConsoleAppender"/>
    <appender-ref ref="FILE_APP"/>
  </root>

</log4j:configuration> 
    